@using CasinoApp.Models
@model HornBet


<form asp-controller="Craps" asp-action="CheckAnswer" method="post">
    <label asp-for="UserAnswer">Enter your answer</label>
    <input type="number" asp-for="UserAnswer" name="UserAnser" required/>
    <button type="submit">Submit</button>

    <script>
        document.addEventListener('DOMContentLoaded', function () {
            document.getElementById('UserAnswer').focus();
        })
    </script>
</form>